.form{
    &__group{
        &:not(:last-child){
            margin-bottom: 1.5rem;
        }
    }
    &__input{
        font-size: 1.5rem;
        font-family: inherit;
        color:inherit;
        padding: 1.5rem 2rem;
        border-radius: 2px;
        background-color: rgba($color-white, .5);
        border: none;        
        border-bottom:3px solid transparent;
        width: 90%;       
        display: block;
       

        &:focus{
             outline: none;
             box-shadow: 0 1rem 2rem rgba($color-black, .15);
             border-bottom:3px solid $color-primary;
            }
            // using pseudo element invalid to validate the input.
        &:focus:invalid{
            border-bottom:3px solid $color-secondary-dark;            
        }

        &::-webkit-input-placeholder{
            color: $color-grey-dark-2;
        }

        
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top:.7rem;
        display: block;
        transition: all .3s;        
    }
    // This is how adjacent sibling works
    // Note: + is adjacent sibling (only adjacent sibling).
    // &__label and &__inout are adjacent sibling.
    
    &__input:placeholder-shown + &__label{        
        // still affect the layout, but transparent
        visibility: hidden;
        // Note : we cannot animate on visibility so using opacity.
        opacity:0;        
        transform: translateY(-4rem);        
    }
    &__radio-group{
        //to bring both radio button side by side
        width: 49%;
        display: inline-block;
    }
    &__radio-label{
        font-size: $default-font-size;
        cursor: pointer;

        padding-left: 4.5rem;
        position: relative;
    }
    &__radio-input{
        display: none;
        // opacity: 0;
    }

    // our custom radio button : using two element
    // using one pseudo element.
    &__radio-button{

        // To make a circle with outline.
        // give same height and width.
        height: 3rem;
        width: 3rem;
        border: 5px solid $color-primary;
        border-radius:50%;

        display: inline-block;

        position: absolute;
        left: 0;
        top: -.4rem;

        &::after{
            // dont forget to give its content.  
            content: " ";
            height: 1.3rem;
            width:  1.3rem;
            background-color: $color-primary;
            border-radius: 50%;

            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
            transition: opacity .2s; 
        }
    }
    // Use pseudo class :checked
    // ~ : sibling label and then next sibling ag
    &__radio-input:checked ~ &__radio-label &__radio-button::after{
        opacity: 1;
    }
}