@keyframes moveInRight{
    0%{ opacity: 0;
        transform: translate(10rem);  
    }

    80%{
        transform:translate(-1rem);
    }
   
    100%{opacity: 1;
        transform: translate(0rem);
    }
}
@keyframes moveInLeft{
    0%{ opacity: 0;
        transform: translate(-10rem);  
    }

    80%{
        transform:translate(1rem);
    }
   
    100%{opacity: 1;
        transform: translate(0rem);
    }
}
@keyframes moveInBottom{
    0%{     opacity: 0;
            transform: translateY(10rem);  
    }  

    100%    {opacity: 1;
            transform: translate(0rem);
    }
}
