.u-center-text{
    text-align: center;
} 

.u-margin-bottom-small{
    margin-bottom: 1.5rem;
}
.u-margin-bottom-medium{
    margin-bottom: 4rem;
}
.u-margin-bottom-big{
    margin-bottom: 8rem;
}.u-overflow-line-short{
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2; /* number of lines to show */
        -webkit-box-orient: vertical;
}